<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Position</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="candidates" ; else noData>
      <tr *ngFor="let candidate of candidates">
        <td>{{ candidate.id }}</td>
        <td>{{ candidate.name }}</td>
        <td>{{ candidate.email }}</td>
        <td>{{ candidate.position }}</td>
        <td>
          <div>
            <ng-container *ngIf="candidate.hasInterview; else cancelInterviews">
              <span class="btn btn-outline-success me-2">Reserved</span>
            </ng-container>
            <ng-template #cancelInterviews>
              <a
                class="btn btn-outline-primary"
                (click)="scheduleInterview(candidate.id, candidate.position)"
                >Schedule</a
              >
            </ng-template>
            <a
              class="btn btn-outline-danger"
              (click)="deleteCandidate(candidate.id)"
              >Delete</a
            >
          </div>
        </td>
      </tr>
    </ng-container>
    <ng-template #noData>
      <tr>
        <td colspan="5">no data</td>
      </tr>
    </ng-template>
  </tbody>
</table>
