<div class="bg  container-fluid d-flex align-items-center d-flex justify-content-evenly">
  <div class="row d-flex align-items-center d-flex justify-content-evenly">
  <div class="col-12 col-md-6">
        <app-signup-form [options]="{
            email: true,
            name: false,
            password: false,
            confirmPassword: false,
            forgetPassword: false
          }"></app-signup-form>
        </div>
          <div class="col-12 col-md-6 pt-5">
      <app-signup-option title="Don't have an account?"></app-signup-option>
    </div>
  </div>
  </div>

