<div
  class="col-12 col-md-3 d-flex flex-column justify-content-evenly align-items-center my-3 py-3 card-container"
>
  <img
    src="assets/images/free-sub.jpg"
    loading="lazy"
    alt="A cloud riding a skate board"
    class="perform-pricing_image"
  />
  <h2 class="fw-bold">Startup</h2>
  <div class="margin-bottom margin-small">
    <h4 class="fw-bold">$157/mo</h4>
    <h4 style="display: none" class="pricing-tier_price">$189/mo</h4>
  </div>
  <p class="fs-5 px-3 my-3">Enhanced hiring tools to get off the ground</p>
  <app-rounded-button color="#035CFF"></app-rounded-button>
</div>
