<div
  class="w-100 d-flex flex-column justify-content-evenly align-items-center my-3 py-3 card-container"
>
  <img
    [src]="image"
    loading="lazy"
    alt="A cloud riding a skate board"
    class="perform-pricing_image"
  />
  <h4 class="fw-bold my-2">{{ type }}</h4>
  <div class="margin-bottom margin-small">
    <h2 *ngIf="toggle" class="fw-bold my-2">{{ monthlyPrice }}</h2>
    <h2 *ngIf="!toggle" class="fw-bold my-2">
      {{ annuallyPrice }}
    </h2>
  </div>
  <p class="fs-6 px-5 my-3 fw-bold text-center">{{ description }}</p>
  <app-rounded-button
    (clicked)="onClick()"
    [bgColor]="btnColor"
  ></app-rounded-button>
</div>
