<footer class="fluid-container footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="info pb-3">
          <h1>Company Name</h1>
          <p>1534 Oak St #301, Jacksonville, FL 32204</p>
        </div>
        <div class="social">
          <div class="w-layout-grid footer_socials">
            <a
              href="https://twitter.com/Breezy_HR"
              target="_blank"
              class="w-inline-block"
              ><img
                src="https://assets-global.website-files.com/6127d83f257132e4fe0bddc6/61290970a19de2af9c44d9db_breezy-twitter-icon.png"
                loading="lazy"
                width="50"
                alt="Breezy HR Watercolor Twitter Icon"
                class="icon-1x1-small" /></a
            ><a
              aria-label="Facebook"
              rel="noopener"
              href="https://www.facebook.com/GetBreezy/"
              target="_blank"
              class="w-inline-block"
              ><img
                src="https://assets-global.website-files.com/6127d83f257132e4fe0bddc6/61290970c3500f6a32ebdd39_breezy-facebook-icon.png"
                loading="lazy"
                width="50"
                alt="Breezy HR Facebook Icon"
                class="icon-1x1-small" /></a
            ><a
              href="https://www.linkedin.com/company/3964636"
              target="_blank"
              class="w-inline-block"
              ><img
                src="https://assets-global.website-files.com/6127d83f257132e4fe0bddc6/61290970969db00474ef1bf6_breezy-linkedin-icon.png"
                loading="lazy"
                width="50"
                alt="Breezy HR LinkedIn Icon"
                class="icon-1x1-small" /></a
            ><a
              rel="noopener"
              href="https://www.instagram.com/breezy_hr/"
              target="_blank"
              class="w-inline-block"
              ><img
                src="https://assets-global.website-files.com/6127d83f257132e4fe0bddc6/616ed626df61c88160327a4d_breezy-instagram-icon-color.png"
                loading="lazy"
                width="50"
                alt=""
                class="icon-1x1-small"
            /></a>
          </div>
          <p>© 2023 Breezy HR, Inc.</p>
        </div>
      </div>
      <div class="col-6 row">
        <div class="col-3">
          <h5 class="fw-bold">Product</h5>
          <div class="footer-links">
            <ul role="list" class="w-list-unstyled">
              <li class="footer_list-item">
                <a href="/attract" class="footer-link">Attract</a>
              </li>
              <li class="footer_list-item">
                <a href="/qualify" class="footer-link">Qualify</a>
              </li>
              <li class="footer_list-item">
                <a href="/hire" class="footer-link">Hire</a>
              </li>
              <li class="footer_list-item">
                <a href="/integrations" class="footer-link">Integrations</a>
              </li>
              <li class="footer_list-item">
                <a href="/pricing" class="footer-link">Pricing</a>
              </li>
              <li class="footer_list-item">
                <a href="/customers" class="footer-link">Customers</a>
              </li>
              <li class="footer_list-item">
                <a href="/partners" class="footer-link">Partners</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <h5 class="fw-bold">Hire Learning</h5>
          <div class="footer-links">
            <ul role="list" class="w-list-unstyled">
              <li class="footer_list-item">
                <a href="/hire-learning" class="footer-link">Articles</a>
              </li>
              <li class="footer_list-item">
                <a href="/resources/guides" class="footer-link">Guides</a>
              </li>
              <li class="footer_list-item">
                <a href="/resources" class="footer-link">Templates</a>
              </li>
              <li class="footer_list-item">
                <a href="/resources/hiring-reports" class="footer-link"
                  >Reports</a
                >
              </li>
              <li class="footer_list-item">
                <a href="/resources/courses" class="footer-link">Courses</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <h5 class="fw-bold">Company</h5>
          <div class="footer-links">
            <ul role="list" class="w-list-unstyled">
              <li class="footer_list-item">
                <a href="/about" class="footer-link">About</a>
              </li>
              <li class="footer_list-item">
                <a href="mailto:support@breezyhr.com" class="footer-link"
                  >Contact Us</a
                >
              </li>
              <li class="footer_list-item">
                <a
                  href="https://jobs.breezy.hr/"
                  rel="noopener"
                  target="_blank"
                  class="footer-link"
                  >Careers</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <h5 class="fw-bold">Support</h5>
          <div class="footer-links">
            <ul role="list" class="w-list-unstyled">
              <li class="footer_list-item">
                <a
                  href="https://help.breezy.hr/"
                  rel="noopener"
                  target="_blank"
                  class="footer-link"
                  >Help Center</a
                >
              </li>
              <li class="footer_list-item">
                <a
                  href="https://developer.breezy.hr/"
                  rel="noopener"
                  target="_blank"
                  class="footer-link"
                  >Developer API</a
                >
              </li>
              <li class="footer_list-item">
                <a
                  href="http://status.breezy.hr/"
                  rel="noopener"
                  target="_blank"
                  class="footer-link"
                  >Breezy Status</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
