.tog-container{
  height: 20%;
  position: relative;
}

#toggle_checkbox {
  display: none;
  width: 300px;
  height: 80px;
}

label {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  width: 90px;
  height: 40px;
  margin: 0 auto;
  transform: translateY(-50%);
  cursor: pointer;
}

label:before {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  border: 3px solid #D0256A;
  background-color: #D0256A;
}

label:after {
  top: 0;
  right: 0;
  width: 90px;
  height: 40px;
  border: 3px solid #143240;
}

label:before,
label:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-sizing: border-box;
  transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width,
    0.5s ease height, 0.5s ease border-color;
}

#toggle_checkbox:checked + label:before {
  top: 0;
  left: 0;
  width: 90px;
  height: 40px;
  border-color: #143240;
}

#toggle_checkbox:checked + label:after {
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  border-color: white;
  background-color: white;
}
