<div class="bg-image" style="background-image: url('https://wallpaperaccess.com/full/2453981.jpg');">
<div class="container bg-subtle">
  <div class="row">
    <div class="container col-12">
      <div class="row">
        <div class="col-12 p-2">
          <div class="col-12 p-5">
            <h2 class="text-center text-dark alert alert-primary">About Hyre</h2>
          </div>
          <h3 class="text-light">
           Hyre is a service to help Companies to handle hiring proccess in a very simple way
           that saves time and effort for HR teams
          </h3>
        </div>

      </div>
    </div>
    <div class="container col-12 pt-3">
      <div class="row">
        <div class="col-12 p-5">
          <h2 class="mb-4 text-center text-dark alert alert-primary">Meet Our Stars</h2>
        </div>
        <div class="col-md-4 col-sm-12 ">
          <div class="card mb-4 bg-transparent  border-0">
            <img
              src="https://avatars.githubusercontent.com/u/122277647?v=4"
              class="card-img-top"
              alt="Team member photo"
            />
            <div class="card-body ">
              <h5 class="text-center  text-light ">Mohamed Youssef</h5>

            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="card mb-4  bg-transparent  border-0">
            <img
              src="https://avatars.githubusercontent.com/u/122265923?v=4"
              class="card-img-top"
              alt="Team member photo"
            />
            <div class="card-body">
              <h5 class="card-title text-center text-light">Ahmed Hamada</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="card mb-4  bg-transparent  border-0">
            <img
              src="https://avatars.githubusercontent.com/u/66704906?v=4"
              class="card-img-top"
              alt="Team member photo"
            />
            <div class="card-body">
              <h5 class="card-title text-center text-light">Youssef Adel</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="card mb-4  bg-transparent  border-0">
            <img
              src="https://avatars.githubusercontent.com/u/74258945?v=4"
              class="card-img-top"
              alt="Team member photo"
            />
            <div class="card-body">
              <h5 class="card-title text-center text-light">Ahmed zain</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="card mb-4  bg-transparent  border-0">
            <img
              src="https://avatars.githubusercontent.com/u/122675815?v=4"
              class="card-img-top"
              alt="Team member photo"
            />
            <div class="card-body ">
              <h5 class="card-title text-center text-light">Mahmoud el-basiouny</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="card mb-4  bg-transparent  border-0">
            <img
              src="https://avatars.githubusercontent.com/u/122494856?v=4"
              class="card-img-top"
              alt="Team member photo"
            />
            <div class="card-body">
              <h5 class="card-title text-center text-light ">Omar Alaa</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
