<div class="background-color-sky container-fluid vh-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div>
          <h1 class="text-center my-5"><app-logo></app-logo></h1>
          <div class="bg-white shadow px-3 py-1">
            <app-signup-form
              [options]="{
                name: false,
                email: true,
                password: true,
                confirmPassword: false,
                forgetPassword: false
              }"
              (submitted)="submit($event)"
            ></app-signup-form>
          </div>
        </div>
      </div>

      <div class="col-12 offset-md-1 col-md-5 signin-request">
        <div class="d-flex align-items-center vh-100">
          <app-signup-option title="Don't have an account?"></app-signup-option>
        </div>
      </div>
    </div>
  </div>
</div>
