<form
  [formGroup]="validationForm"
  (submit)="onSubmit()"
  class="mt-4 w-100 p-3 text-start"
>
  <div *ngIf="error">
    <span class="bg-danger rounded-1 bg-gradient text-light p-3 m-1 d-block"
      >{{ error }}
    </span>
  </div>
  <div *ngIf="this.options.email">
    <label for="exampleFormControlInput1" class="form-label"
      >Company Email Address*</label
    >
    <input
      formControlName="email"
      type="email"
      class="form-input"
      id="exampleFormControlInput1"
    />
  </div>
  <div *ngIf="!email && isEmailDirty()" class="my-4">
    <span class="alert alert-danger form-error w-100"
      >Enter a valid email address</span
    >
  </div>
  <div *ngIf="this.options.name">
    <label for="exampleFormControlInput2" class="form-label mt-1"
      >Full Name*
    </label>
    <input
      formControlName="username"
      type="text"
      class="form-input"
      id="exampleFormControlInput2"
    />
  </div>
  <div *ngIf="!username && isUsernameDirty()" class="my-4">
    <span class="alert alert-danger form-error w-100"
      >username must be more than 3 characters</span
    >
  </div>
  <div *ngIf="this.options.password">
    <label for="inputPassword5" class="form-label">Password*</label>
    <input
      formControlName="password"
      type="password"
      id="inputPassword5"
      class="form-input"
      aria-labelledby="passwordHelpBlock"
    />
  </div>
  <div *ngIf="!password && isPasswordDirty()" class="my-4">
    <span class="alert alert-danger form-error w-100"
      >password must be more than 10 characters or numbers</span
    >
  </div>
  <div *ngIf="this.options.confirmPassword">
    <label for="inputPassword6" class="form-label">Confirm Password*</label>
    <input
      formControlName="confirmPassword"
      type="password"
      id="inputPassword6"
      class="form-input"
      aria-labelledby="passwordHelpBlock"
    />
  </div>
  <div
    *ngIf="!confirmPassword && arePasswordsEqual() && isConfirmPasswordDirty()"
    class="my-4"
  >
    <span class="alert alert-danger form-error w-100"
      >passwords do not match</span
    >
  </div>
  <a
    *ngIf="options.forgetPassword"
    class="form-forget-password"
    routerLink="/forgetpassword"
    >Forgot your password</a
  >
  <div class="d-flex flex-row justify-content-between align-items-center">
    <app-rounded-button
      title="Submit"
      bgColor="#EE136B"
      type="submit"
    ></app-rounded-button>
    <p class="form-label">* Indicates a required field</p>
  </div>
</form>
