


<router-outlet></router-outlet>

<!-- <app-signup-page></app-signup-page> -->
<!-- <app-about></app-about> -->


<!-- <div class="col-3">
  <app-dashboard-card
    ><i class="bi bi-briefcase-fill fs-5 me-2"></i
  ></app-dashboard-card>
</div> -->

<!-- <app-about></app-about> -->


<!-- <router-outlet></router-outlet> -->




<app-mytoast
  [visible]="toastVisible"
  [title]="toastMessage"
  [success]="toastSuccess"
></app-mytoast>

<!-- <app-forgot-password></app-forgot-password> -->


<!-- <button (click)="openDialog()">click me</button> -->


<!-- <button (click)="openDialog()">click me</button> -->



