<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top d-none d-md-block" id="bg-screen-nav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex w-100 justify-content-center">
        <div class="navbar-nav d-flex w-100 mt-3 justify-content-evenly align-items-center">
          <a href="/home" class="nav-link align-self-start">
            <img src="/assets/images/agora.svg" alt="Hyre" width="100px" loading="lazy">
          </a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link" href="#">Demo</a>
          <a class="nav-link" href="#">About</a>
          <div class="nav-links d-flex">
            <a class="nav-link" href="#">Signup</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>



<nav class="navbar bg-body-tertiary fixed-top d-md-none d-block">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">               
            <img src="/assets/images/agora.svg" alt="Hyre" width="100px" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <a href="/home"> 
              <img src="/assets/images/agora.svg" alt="Hyre" width="100px" loading="lazy">
            </a>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Demo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>