<div class="container-fluid text-center section py-5 px-3">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 mt-5">
            <a class="nav-link" routerLink="">
                <p style="font-size: 40px;">Hyre</p>
            </a>
        </div>
        <div class="col-12 w-100" style="max-width: 700px;">
            <img class="image-fluid w-100" src="/assets/images/breezy-404.png" alt="">
        </div>
        <div class="col-12 my-3">
            <h1>404 Error</h1>
        </div>
        <div class="col-12">
            Our judgment must be clouded. We haven't the foggiest idea how you got here.<br />
            While we find the nimbus who caused this error, head back to the homepage.
        </div>
        <div class="col-12 mt-5">
            <a style="background-color: #d0256a;" class="button text-light btn rounded rounded-5 py-3 px-5"
                routerLink="">Take me Home!</a>
        </div>
    </div>
</div>