<div class="text-center">
  <a
    routerLinkActive="active"
    routerLink="/dashboard/positions/create"
    class="m-4 btn btn-success"
    >Create Position</a
  >
</div>

<table [striped]="true" cTable>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Vacancies</th>
      <th scope="col">Description</th>
      <th scope="col">End Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="positions">
      <tr *ngFor="let p of positions.data">
        <th scope="row">{{ p.id }}</th>
        <td>{{ p.name }}</td>
        <td>{{ p.vacancies }}</td>
        <td>{{ p.description }}</td>
        <td>{{ p.end_date }}</td>
        <td>
          <a
            class="btn btn-outline-warning m-1"
            routerLink="/dashboard/positions/{{ p.id }}/update"
            >Edit</a
          >
          <a
            class="btn btn-outline-danger m-1"
            (click)="showAlert($event)"
            id="{{ p.id }}"
            >Delete</a
          >

         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
