#main{
  background-color: #dcf2f5;
  min-height: 100vh;
  color: #071124;
  font-family: WorkSans,sans-serif;
  font-size: 1.5rem;
}
#title{
  font-size: 2.9rem;
  font-weight: 600;
}


/* button */

.button:hover{
  animation: btnHover .5 both;
}

@keyframes btnHover{
  0%{
      transform: scale(1.05);
  }
  50%{
      transform: scale(1.030);
  }
  100%{
      transform: scale(1.00);

  }
}
.cus-img{
  /* aspect-ratio: 1/2; */
  object-fit: cover;
}

.short-para{
  font-size: 1.3rem;
  line-height: 125%;
}

.med-para{
  font-size: 1.7rem;
  font-weight: bold
}
.large-para{
  font-size: 4rem;
  font-weight: bold;
  line-height: 135%;
}
.title-para{
  color:#D0256A;
  font-size: 1.7rem;
  margin-top: 80px;
}

.title-para2{
  color:#2867DB;
  font-size: 1.7rem;
  margin-top: 80px;
}

