<div class="text-center section px-3" id="main">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 my-3">
      <h1 id="title">Find & Hire Employees, Sooner.</h1>
    </div>
    <div class="col-md-12 col-lg-8 mt-2">
      From advertising jobs to making offers, get everything you need to attract
      and hire better employees — in less time.
    </div>
    <div class="col-12 mt-5">
      <a
        style="background-color: #d0256a"
        class="button text-light btn rounded rounded-5 py-3 px-5"
        routerLink="signup"
        >Get Started</a
      >
    </div>
    <section
      class="container d-flex flex-column justify-content-evenly align-items-center mt-5"
    >
      <div
        class="mt-4 d-flex flex-row justify-content-between justify-content-md-around align-items-center w-75 position-relative"
      >
        <p [ngClass]="!isMonthly ? 'text-dark' : 'text-primary'">Monthly</p>
        <app-toggle-button (toggle)="isMonthly = $event"></app-toggle-button>
        <p [ngClass]="isMonthly ? 'text-dark' : 'text-primary'">Annually</p>
      </div>
      <div
        class="row d-flex flex-row justify-content-evenly align-items-center mt-4"
      >
        <div class="col-12 col-md-4" *ngIf="bootstrap">
          <app-info-card
            [type]="bootstrap[0].name"
            [description]="bootstrap[0].description"
          ></app-info-card>
        </div>
        <div class="col-12 col-md-4" *ngIf="startup">
          <app-info-card
            [toggle]="isMonthly"
            btnColor="#EE136B"
            image="assets/images/free-sub.jpg"
            [type]="startup[0].name"
            [description]="startup[0].description"
            [monthlyPrice]="'$' + startup[0].price + '/mo'"
            [annuallyPrice]="'$' + startup[1].price + '/mo'"
          ></app-info-card>
        </div>
        <div class="col-12 col-md-4" *ngIf="business">
          <app-info-card
            [toggle]="isMonthly"
            btnColor="#B908FF"
            image="assets/images/Business-sub.jpg"
            [type]="business[0].name"
            [description]="business[0].description"
            [monthlyPrice]="'$' + business[1].price + '/mo'"
            [annuallyPrice]="'$' + business[0].price + '/mo'"
          ></app-info-card>
        </div>
      </div>
    </section>
    <div
      class="row w-100 d-flex flex-row justify-content-between align-items-center bg-white py-5"
    >
      <h2 class="title-para text-start mt-4">Advertise & Attract</h2>
      <div
        class="col-12 col-md-6 text-start d-felx flex-column justify-content-between"
      >
        <p class="large-para mb-4">
          Get your job in front of millions of candidates.
        </p>
        <h5 class="short-para my-4">
          You’re ready to get the word out about your openings. Breezy will
          advertise your open positions on 50+ top job sites, with a single
          click.
        </h5>
        <h2 class="med-para my-4">Look your best.</h2>
        <h5 class="short-para">
          What good are all those eyeballs if they don’t love what they see?
          Breezy makes it easy to customize a simple, beautiful careers site in
          as as little or as much time as you like.
        </h5>
      </div>
      <img
        class="cus-img col-12 col-md-6"
        src="/assets/images/sec2.png"
        alt="social media pic"
      />
    </div>
    <div
      class="row w-100 d-flex flex-row justify-content-between align-items-center bg-white"
    >
      <h2 class="title-para2 text-start">Automate & Qualify</h2>
      <div
        class="col-12 col-md-6 text-start d-felx flex-column justify-content-between"
      >
        <p class="large-para mb-4">
          Focus on hiring, not tedious, repetitive tasks.
        </p>
        <h5 class="short-para my-4">
          You already have a million things to do. Breezy automates tedious
          tasks like pre-screening candidates, sending emails, scheduling
          interviews, and collecting feedback from your team.
        </h5>
      </div>
      <img
        class="cus-img col-12 col-md-6"
        src="/assets/images/sec3.png"
        alt="social media pic"
      />
    </div>
  </div>
</div>
