<div class="container-fluid text-center section py-5 px-3" id="main">
  <div class="row align-items-center justify-content-center">

      <div class="col-12 my-3">
          <h1 id="title">Find & Hire Employees, Sooner.</h1>
      </div>
      <div class="col-md-12 col-lg-8  mt-2" >
        From advertising jobs to making offers, get everything you need to attract and hire better employees — in less time.
      </div>
      <div class="col-12 mt-5">
        <a style="background-color: #d0256a;" class="button text-light btn rounded rounded-5 py-3 px-5"
            routerLink="">Get Started</a>
    </div>
  </div>
</div>
