/* You can add global styles to this file, and also import other style files */

.bg-img{
  background-image: url("/assets/images/clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 100%;
  min-height: 100vh;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
